@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg1 {
  background-color: #9bbec8;
}

.bg2 {
  background-color: #427d9d;
}

table {
  border: 3px solid black;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 3px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
}

button {
  width: 33px;
  height: 33px;
  background-color: cornflowerblue;
}

.sea {
  background-color: cornflowerblue;
  text-align: center;
}

.ship {
  background-color: dimgray;
}

.destShip {
  background-color: crimson;
  text-align: center;
}

.shipButton {
  width: 33px;
  height: 33px;
  background-color: dimgray;
}

.UIButton {
  width: 200px;
  height: 50px;
  margin: 5px;
}
